<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">    
    <servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/about.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>server_error</servlet-name>
        <jsp-file>/500.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>server_error</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>401</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/users/forbidden.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/404.html</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
